/* CUSTOM STYLES */
/* TEMPLATE STYLES */
/* Necessary for full page carousel*/

html,
body {
    height: 100%;
}
/* Navigation*/

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

footer.page-footer {
    background-color: #4285F4;
}

.mdl-step {
    height:auto;
}

.mdl-step__content{
    height:auto;
}


@media only screen
and (max-width: 768px)
and (orientation: portrait) {
    .navbar {
        /*background-color: #4285F4;*/
        background-color: transparent;
    }
    .brand {
        display: block;
        float: right;
        width: 22%;
        height: 43px;
        margin: 0;
        margin-top: -37px;
    }

    #footer-desktop {
        display:none;
    }

    #footer-desktop-hr {
        display:none;
    }

}

@media only screen and (min-width: 771px) {
    .brand {
        /*background-color: #4285F4;*/
        display:none;
    }
    .navbar {
        /*background-color: #4285F4;*/
        background-color: transparent !important;
    }
}


/* Landscape */
@media only screen
and (max-device-width: 768px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

    .brand {
        display: block;
        float: right;
        width: 15%;
        height: 46px;
        margin: 0;
        margin-top: -37px;
      /*  background-color: pink;*/
    }

    #footer-desktop {
        display:none;
    }

    #footer-desktop-hr {
        display:none;
    }


}

